.cornerstone-item {
  display: inline-block;
  width: 300px;
  height: 300px;
  margin-top: 20px;
  margin-right: 20px;
  border: 2px solid #96CDF2;
  border-radius: 10px;

  &.active{
    border-color: #5CC94D;
  }
}

.page-title {
  margin-bottom: 20px;
}

.sub-tip {
  font-size: 14px;
  color: #fff;
}


.viewport-wrap {
  margin-bottom: 40px;

  .title {
    font-size: 18px;
    line-height: 1.5;
  }
}

